# Project's private build configuration
config.json
config-*.json

# Packer's cached files
packer_cache

# In-process working directory
output-box/

# Vagrant's build and runtime files
builds/vagrant/*.box
builds/virtualbox/*.ovf
builds/virtualbox/*.vmdk
builds/virtualbox/*/
vagrant/base/.vagrant
vagrant/hyrax/.vagrant
vagrant/hyrax/vm
vagrant/hyrax/vagrant-config.yaml
